@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
::before::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  padding: 16px 60px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 60px;
  font-weight: 600;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.171);
}

button:hover {
  cursor: pointer;
}

nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 18vh;
}
nav button {
  padding: 8px 30px;
  border: 1px solid hsl(322, 100%, 66%);
  background-color: white;
  color: hsl(322, 100%, 66%);
  border-radius: 20px;
  box-shadow: none;
}
nav button:hover {
  color: hsl(321, 100%, 78%);
  border: 1px solid hsl(321, 100%, 78%);
}
nav .logo {
  display: inline-block;
}

section button:hover {
  background-color: hsl(321, 100%, 78%);
}

.head-section {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.head-section h1 {
  font-size: 2.5em;
  color: hsl(192, 100%, 9%);
  margin-bottom: 0;
}
.head-section p {
  width: 45%;
  font-size: 1.2em;
  margin: 0;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

.section2 {
  width: 100%;
  height: 155vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 8vh;
}
.section2 .sub-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section2 .sub-section article {
  text-align: center;
}
.section2 .sub-section h1 {
  font-size: 4em;
  color: hsl(192, 100%, 9%);
  margin: 0;
}

.illus {
  display: flex;
  height: 85vh;
  flex-direction: column;
}
.illus main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F6FBFF;
  height: 150v;
  width: 100%;
}
.illus .bg {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.illus .illustration {
  width: 30%;
  display: inline-block;
}
.illus article {
  width: 35%;
}
.illus article h1 {
  font-size: 2em;
}

.section4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}
.section4 main {
  background-color: white !important;
  height: 50vh;
}
.section4 img {
  width: 30%;
  display: inline-block;
}
.section4 article {
  width: 38%;
}
.section4 article h1 {
  font-size: 2em;
}

.section5 article {
  width: 36%;
}

.section6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}
.section6 h1 {
  font-size: 2.5em;
}

footer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  font-size: 13px;
}
footer button:hover {
  background-color: hsl(321, 100%, 78%);
}
footer .bg {
  width: 100%;
  padding: 0;
  margin: 0;
}
footer main {
  background-color: #00252E;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
footer .contact, footer .subscribe {
  width: 23%;
}
footer .contact svg path, footer .subscribe svg path {
  fill: white;
}
footer .contact h1, footer .subscribe h1 {
  margin-top: 0;
}
footer .subscribe div {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .subscribe div input {
  border-radius: 5px;
  height: 30px;
  width: 70%;
}
footer .subscribe div input:hover {
  border: hsl(0, 100%, 63%);
}
footer .subscribe div button {
  border-radius: 5px;
  padding: 10px 0;
  width: 25%;
}
footer .phone, footer .mail {
  margin: 3vh 0;
  display: flex;
  align-items: center;
}
footer .phone img, footer .mail img {
  margin-right: 1em;
}
footer .socials {
  padding: 25px 0 0 0;
}
footer .socials i {
  margin-right: 8px;
}
footer .socials .my-icon:hover {
  color: rgb(0, 204, 255);
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  body {
    background-color: white;
    font-size: 13px;
  }
  nav {
    height: 10vh;
  }
  nav .logo img {
    width: 50%;
  }
  nav button {
    padding: 5px 0;
    width: 30%;
    font-size: 10px;
  }
  .head-section {
    height: 90vh;
    justify-content: center;
  }
  .head-section p {
    width: 85%;
    font-size: 1em;
    margin: 8vh 0;
  }
  .head-section h1 {
    font-size: 2em;
  }
  .section2 {
    height: 100vh;
    padding: 0;
  }
  .section2 img {
    width: 80%;
  }
  .section2 .sub-section {
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
  }
  .section2 .sub-section img {
    width: 20%;
  }
  .illus {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .illus main {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .illus main article {
    width: 95%;
    text-align: center;
    font-size: 13px;
  }
  .illus main .illustration {
    width: 70%;
  }
  .section4 {
    flex-direction: column;
    height: 75vh;
    justify-content: center;
  }
  .section4 article {
    width: 90%;
    text-align: center;
    font-size: 13px;
    color: hsl(192, 100%, 9%);
  }
  .section4 img {
    width: 70%;
  }
  .section5 {
    height: 80vh !important;
  }
  .section6 {
    text-align: center;
    font-size: 0.7em;
    align-items: center;
  }
  footer {
    height: 110vh;
    align-items: center !important;
  }
  footer .fo-svg {
    transform: scale(0.7);
    position: relative;
    left: -13%;
  }
  footer main {
    flex-direction: column-reverse;
    justify-items: space-evenly;
  }
  footer main .contact, footer main .subscribe {
    width: 90%;
  }
  footer main .contact button, footer main .subscribe button {
    display: block;
  }
  footer main .subscribe div {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }
  footer main .subscribe div input {
    margin-bottom: 10px;
    width: 90%;
  }
  footer main .subscribe div button {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */